.container {
    width: 900px;
    height: 500px;

    background: mediumseagreen;
    box-sizing: border-box;
    padding: 40px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.box {
    width: 250px;
    height: 400px;

    background: black;
    box-sizing: border-box;
    padding: 20px 15px 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.quote {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.quote > img {
    /*font-size: 5px;*/
    width: 60px;
    height: 60px;
    /*background: white;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.speach > p {
    box-sizing: border-box;
    text-align: justify;
    color: white;
    /*padding: 5px;*/
}

.photo {
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo > img {
    width: 80px;
    height: 80px;
    border-radius: 50px;

}

.name > p {
    width: 250px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}