body {
    margin: 0 auto;
}

.container {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.picture{
    width: 180px;
    height: 50px;
    position: relative;
}

.box {
    width: 180px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-in {
    width: 180px;
    height: 300px;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
     padding-top: 10px;
 }

p {
    text-align: center;
    padding: 5px;
}

button {
    width: 150px;
    height: 50px;
    margin-top: 30px;

    border: 2px solid black;
    text-align: center;
    vertical-align: center;
    line-height: 50px;

}


.fa-desktop, .fa-life-ring, .fa-martini-glass{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid grey;
    background: white;
    color: salmon;
    text-align: center;
    vertical-align: center;
    line-height: 50px;

    position: absolute;
    bottom: -20px;
    left: 60px;

}



