h1 {
    background: salmon;
    color: antiquewhite;
}

h2 {
    background: darkgoldenrod;
    color: beige;
}

p {
    background: bisque;
    color: #0e4646;
}

li {
    background: blueviolet;
    color: yellowgreen;
}

