.wrap {
    width: 100vw;
    height: 100vh;
    /*background: pink;*/
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.a {
    width: 100%;
    height: 30%;
    background: purple;
    border-radius: 25px;
}

.container {
    width: 100%;
    height: 700px;
    /*background: yellow;*/
    border-radius: 25px;
    display: flex;
    justify-content: space-between;



}
.big_box {
    width: 65%;
    height: 500px;
    /*background: grey;*/
    display: flex;

    flex-direction:column;
    gap: 10px;

}
.b {
    width: 100%;
    height: 300px;
    background: darkgreen;
    border-radius: 15px;
    display: flex;


}

.small_box {
    width: 100%;
    height: 200px;
    /*background: salmon;*/
    display: flex;
    column-gap: 30px;
    justify-content: space-around;
    align-content: center;
}

.box{
    width: 150px;
    height: 150px;
    background: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
align-items: center;
}

.f {
    width: 30%;
    height: 75%;
    background: lightblue;
    border-radius: 25px;
    display: flex;
}

@media screen and (min-width: 800px) and (max-width:1200px) {
    .a {
        height: 20%;
    }
    .container {
        width: 100%;
        height: 80%;
        flex-direction: column;
    }
    .big_box {
        width: 100%;
        height: 70%;
    }

    .small_box {
        width: 100%;
        height: 30%;

    }
    .box {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: space-around;
align-items: center;
    }

    .f {
        width: 100%;
        height: 20%;
    }
}