
.container {
    width: 900px;
    /*height: 900px;*/
    background: yellow;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*@media screen and (min-width: 800px) and (max-width: 1200px) {*/

/*    .container {*/
/*        width: 100%;*/
/*        flex-direction: column;*/

/*    }*/
/*    .father {*/
/*    width: 100%;*/
/*        gap: 10px;*/
/*}*/
/*    .father.b {*/
/*    width: 100%;*/
/*    }*/

/*    .father.c {*/
/*        width: 100%;*/
/*    }*/
/*}*/



.a {
    width: 80vw;
    height: 300px;
    background: green;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;

}

.father {
    width: 80vw;
    height: 500px;
    /*background: dodgerblue;*/

    display:flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    align-items: center;

}

.b {
    width: 70%;
    height: 90%;
    background: pink;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;

}

.c {
    width: 25%;
    height: 90%;
    background: grey;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;

}

@media screen and (min-width: 699px) and (max-width: 900px) {
.a {
    width: 582px;
}
    .father {
        width: 582px;

        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .b {
        width: 582px;
        height: 300px;
    }
    .c {
        width: 582px;
        height: 300px;
        background: purple;
    }
}
