.body {
    /*display: flex;*/
    /*align-items: center;*/
    /*margin: 0 auto;*/
}

.first {
    width: 500px;
    height: 200px;
    background: blue;
    color: white;
    margin: 0 auto;
    padding: 200px;
    font-size: 1.7em;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;

}

.boxes {
    width: 500px;
    height: 150px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;

}

.box1 {
    width: 160px;
    height: 120px;
    background: lightblue;
    color: white;
    box-sizing: border-box;
    padding: 20px;
}
 .box2 {
     width: 160px;
     height: 120px;
     background: lightblue;
     box-sizing: border-box;
     /*text-align: center;*/
     padding: 20px;
 }

 .box3 {
     width: 160px;
     height: 120px;
     background: lightblue;
     box-sizing: border-box;
     /*text-align: center;*/
     padding: 20px;
 }

 .third {
     width: 500px;
     height: 300px;
     background: blue;
     color: white;
     margin: 0 auto;
     padding: 200px;
     font-size: 1.7em;
     box-sizing: border-box;
     /*text-align: center;*/
     /*display: flex;*/
     /*align-items: center;*/

 }





